# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env*.local

# supabase
/supabase/.branches
/supabase/.temp

# misc
.DS_Store
*.pem
npm-debug.log*
/coverage
/.vercel
/.turbo
*.tsbuildinfo
